html {
    font-size: 1.2em;
}


article {
  --w-prose: 65ch;
}

img {
  max-height: 50vh;
}

#the-top {
  height: 0;
}

.max-w-prose {
  max-width: var(--w-prose);
}

.w-prose {
  width: var(--w-prose);
}

.h-12 {
  height: 3rem;
}

.min-w-\[3rem\] {
  min-width: 3rem;
}

.-ml-14 {
  margin-left: -3.5rem;
}

.text-3xl {
  font-size: 1.75rem;
  line-height: 2rem;
}
