html {
  font-size: 1.2em;
}

.blockquote--quoted {
}

.wrapper{
    position:relative;
    display: inline-block;
    width: 100%;
}

#hcontact {
  width: 100%;
  height: 1075px;
}

@screen md  {} /*768*/
@screen lg  {} /*1024*/
@screen xl  {} /*1280*/
@screen 2xl {} /*1536*/

.hidelogo{
    width: 55px;
    height: 40px;
    background: #fcfcfc;
    /* background: #0c0c0c; */
    right: 0;
    bottom: 105px;
    position: absolute;
    display: block;
    color: #fff;
}

.text-base {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.guillemets::before {
  position: absolute;
  transform: translateX(-100%);
  content: "«  ";
}

.guillemets::after {
  position: absolute;
  transform: translateX(-100%);
  content: " »";
}

article:has(.full-width) {
  --w-prose: 65ch;
}

article:has(.gallery) {
  --w-prose: 65ch;
}

figure img {
  max-height: 50vh;
}

.thumbnail_card {
  height: 300px;
  background-position: top;
}

#the-top {
  height: 0;
}

.max-w-prose {
  max-width: var(--w-prose);
}

.w-prose {
  width: var(--w-prose);
}

.h-12 {
  height: 3rem;
}

/* Cards */
.thumbnail_card {
  height: 400px;
}

/* Fix gallery and carousel */
div[id^='gallery_'], div[id^='carousel-'] {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* grid */
.gap-4 {
  gap: 3rem;
}

/* Icon thing */
.min-w-\[3rem\] {
  min-width: 3rem;
}

.-ml-14 {
  margin-left: -3.5rem;
}

.text-3xl {
  font-size: 1.75rem;
  line-height: 2rem;
}
