html {
  font-size: 1.2em;
}

.text-base {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

article {
  --w-prose: 65ch;
}

figure img {
  max-height: 50vh;
}

.thumbnail_card {
  height: 300px;
  background-position: top;
}

#the-top {
  height: 0;
}

.max-w-prose {
  max-width: var(--w-prose);
}

.w-prose {
  width: var(--w-prose);
}

.h-12 {
  height: 3rem;
}

/* Icon thing */
.min-w-\[3rem\] {
  min-width: 3rem;
}

.-ml-14 {
  margin-left: -3.5rem;
}

.text-3xl {
  font-size: 1.75rem;
  line-height: 2rem;
}
