{{ $disableImageOptimization := .Site.Params.disableImageOptimization | default false }}
{{- $name := .name }}
{{- $instrument := .instrument | default "" }}
{{- $desc := .desc }}
{{- $link := .link }}
{{- $defaultImage := "/img/osh_logo.png" }}

<div class="flex border border-neutral-200 dark:border-neutral-700 border-2 rounded px-6 py-4">
  <div class="flex author">
    {{ with $defaultImage }}
      {{ $image := "" }}
      {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
        {{ $image = resources.GetRemote . }}
      {{ else }}
        {{ $image = resources.Get . }}
      {{ end }}
      {{ if $image }}
        {{ if not $disableImageOptimization }}
          {{ $image = $image.Fill "192x192" }}
        {{ end }}
        <img class="!mt-0 !mb-0 h-24 w-24 rounded-full ltr:mr-4 rtl:ml-4" width="96" height="96"
        alt="{{ $name | default "Musicien" }}" src="{{ $image.RelPermalink }}" />
      {{ else }}
        {{ $image := resources.GetRemote . }}
        {{ if not $disableImageOptimization }}
          {{ $image = $image.Fill "192x192" }}
        {{ end }}
        <img class="!mt-0 !mb-0 h-24 w-24 rounded-full ltr:mr-4 rtl:ml-4" width="96" height="96"
        alt="{{ $name | default "Musicien" }}" src="{{ $image.RelPermalink }}" />
      {{ end }}
    {{ end }}
    <div class="place-self-center">
      {{ with $desc | markdownify }}
      <div class="text-[0.6rem] uppercase leading-3 text-neutral-500 dark:text-neutral-400">{{ . }}</div>
      {{ end }}
      <div class="font-semibold leading-6 text-neutral-800 dark:text-neutral-300">
        {{ $name | markdownify }}
      </div>
      
      {{ with $instrument | markdownify }}
      <div class="text-sm text-neutral-700 dark:text-neutral-400">
        {{ . }}
      </div>
      {{ end }}
      <div class="text-2xl sm:text-lg">{{ partialCached "author-links.html" . }}</div>
    </div>
  </div>
</div>
